<div>
	I want to go <input id="evtName" type="text" ng-model="coord.evt.name" placeholder="Skiing" um-focus-when="true">
	<br>
	<form ng-init="contact = { email: '' }" ng-submit="coord.addContact(contact)">
		...with <input id="evtContact" type="email" pattern=".*\.[a-z]{2,}" placeholder="ashley@adomain.com&#9166;" ng-model="contact.email" ng-disabled="saving">
	</form>
	<div class="contacts" ng-repeat="contact in coord.evt.contacts | orderBy:'-'">
		<button ng-click="coord.removeContact(contact)">x</button>
		<label ng-hide="contact.edit" ng-dblclick="editContact(contact)">{{ contact.email }}</label>
		<form ng-init="contact.modified = contact.email" ng-disabled="!contact.edit" ng-show="contact.edit" name="editContactForm" style="display: inline" ng-submit="saveContact(contact)">
			<input 
			type="email"
			pattern=".*\.[a-z]{2,}" 
			ng-disabled="!contact.edit"
			ng-show="contact.edit"
			ng-model="contact.modified" 
			um-esc-key="revertChanges(contact)"
			um-focus-when="contact.edit">
		</form>
	</div>
	<button>Woot</button>
</div>

<hr>

<span>JSON object:</span>
<div>
	<code>
		{{ coord.evt | json }}
	</code>
</div>
