<div>
	<form name="coordForm" novalidate>

		<input id="eventName" type="text" ng-model="coord.name" required placeholder="Enter event name"/>

		<div ng-form="contactsForm">
			<table ng-repeat="contact in coord.contacts" ng-form="contactForm">
				<tr>
					<td>
						<button type="submit" ng-click="contactsForm.$invalid || coord.addElement()" ng-show="$last">
							Add
						</button>
					</td>
					<td>
						<input name="emailOrPhone" type="email" ng-model="contact.emailOrPhone" required placeholder="Enter contact information"/>
					</td>
					<td>
						<span ng-show="contactForm.emailOrPhone.$touched && contactForm.$dirty && contactForm.$invalid">
							A valid	email address is required.
						</span>
					</td>
				</tr>
			</table>
		</div>

		<input type="button" ng-click="coord.submitEvent()" value="Invite" ng-disabled="coordForm.$invalid">

	</form>

<br>

	<form>
		<input>
	</form>
</div>
