<div>
	I want to go <input type="text" ng-model="coord.evt.name" placeholder="Skiing" autofocus>
	<br>
	<form ng-init="contact = { email: '' }" ng-submit="coord.addContact(contact)">
		...with <input placeholder="ashley@adomain.com&#9166;" ng-model="contact.email" ng-disabled="saving">
	</form>
	<div ng-repeat="contact in coord.evt.contacts | orderBy:'-'">
		<button ng-click="coord.removeContact(contact)">x</button>
		<label ng-class="contact.edit ? 'background' : 'foreground'" ng-dblclick="editContact(contact)">{{ contact.email }}</label>
		<input 
		ng-class="contact.edit ? 'forefront' : 'background'" 
		ng-model="contact.email" 
		ng-blur="saveContact(contact)" 
		um-enter-key="saveContact(contact)"
		um-esc-key="revertChanges(contact)"
		um-focus-when="contact.edit">
	</div>
	<button>Woot</button>
</div>

<hr>

<span>JSON object:</span>
<div>
	<code>
		{{ coord.evt | json }}
	</code>
</div>
